<body>
  <div class="container service-form">
    <h1 class="mt-4 mb-3">Add New Car To Inventory</h1>
    <h2>Basic Information</h2>
    <div class="name-hold">
      <input class="form-control mb-2 mt-1 field" placeholder="Year">
      <input class="form-control mb-2 mt-1 field ml-3" placeholder="Make">
      <input class="form-control mb-2 mt-1 field ml-3" placeholder="Model">
    </div>
    <div class="address-hold">
      <input class="form-control mb-2 mt-1 field" placeholder="Milage">
      <input class="form-control mb-2 mt-1 field ml-3" placeholder="Price">
      <select class="input-group mb-3 mt-1 field ml-3 custom-select" id="inputGroupSelect01">
        <option selected>Body Style</option>
        <option value="1">Sedan</option>
        <option value="2">Sports Utility Vehicle</option>
        <option value="3">Truck</option>
        <option value="4">Coupe</option>
        <option value="5">Compact Car</option>
        <option value="6">Hatchback</option>
        <option value="7">Minivan</option>
        <option value="8">Sports Car</option>
        <option value="9">Convertible</option>
        <option value="10">Station Wagon</option>
        <option value="11">Van</option>
        <option value="11">Other</option>
      </select>
    </div>
    <h2 class="mt-3">Additional Details</h2>
    <div class="name-hold">
        <select class="input-group mb-2 mt-1 field custom-select" id="inputGroupSelect01">
          <option selected>Exterior Color</option>
          <option value="1">White</option>
          <option value="2">Silver</option>
          <option value="3">Black</option>
          <option value="4">Medium Dark Blue</option>
          <option value="5">Medium Dark Grey</option>
          <option value="6">Medium Red</option>
          <option value="7">Medium Dark Green</option>
          <option value="8">Light Brown</option>
          <option value="9">Bright Red</option>
          <option value="10">Gold</option>
          <option value="11">Other</option>
        </select>
        <select class="input-group mb-2 mt-1 ml-3 field custom-select" id="inputGroupSelect01">
          <option selected>Interior Color</option>
          <option value="1">White</option>
          <option value="2">Cream</option>
          <option value="3">Grey</option>
          <option value="4">Black</option>
          <option value="5">Tan</option>
        </select>
        <select class="input-group mb-2 mt-1 ml-3 field custom-select" id="inputGroupSelect01">
          <option selected>Warranty</option>
          <option value="1">Full</option>
          <option value="1">Powertrain/Drivetrain</option>
          <option value="1">Corrosion/Rust</option>
          <option value="1">None</option>
        </select>
    </div>
    <div class="address-hold">
      <select class="input-group mb-3 mt-1 field custom-select" id="inputGroupSelect01">
        <option selected>Drive Train</option>
        <option value="1">Front Wheel Drive</option>
        <option value="1">Rear Wheel Drive</option>
        <option value="1">Four Wheel Drive</option>
        <option value="1">All Wheel Drive</option>
      </select>
      <select class="input-group mb-3 mt-1 ml-3 field custom-select" id="inputGroupSelect01">
        <option selected>Transmission</option>
        <option value="1">Automatic</option>
        <option value="1">Manual</option>
      </select>
    </div>
    <h2 class="mt-3">Comments</h2>
    <div class="address-hold">
      <input type="name" class="form-control mb-3 mt-1 field comment" placeholder="">
    </div>
    <button type="button" class="btn other-btn mb-3 mt-3" data-toggle="modal" data-target="#subModal">Submit</button>
  </div>
  </body>
