body {
  color: white;
  font-family: Montserrat;
}
h1 {
  border: solid white;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  background-color: darkblue;
  border-radius: 4px;
}

h2 {
  text-decoration: underline;
}

.service-form {
  border: solid darkblue thick;
  background-color: darkslateblue;
  border-radius: 4px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.name-hold {
  display: flex;
}

.address-hold {
  display: flex;
  border-bottom: solid white thick;
}

.service-hold2 {
  margin-left: 10%;
}


.field {
  width: 30%;
}

.col {
  display: flex;
  border-bottom: solid white thick;
}

.comment {
  width: 62%;
  height: 100px;
}

.pop {
  background-color: darkblue;
  font-size: 26pt;
  text-align: center;
  border: solid white;
  width: 95%;
  margin-left: 4%;
  padding: 10;
  border-radius: 4px;
  font-weight: bold;
}

.pop2 {
  margin-left: 2%;
  font-size: 22pt;
}

.input-hold {
  background-color: darkblue;
  border: solid white;
  padding: 10;
  border-radius: 4px;
}

.modal-body {
  background-color: darkslateblue;
}

.mod {
  border-radius: 10px;
}

.modal-header {
  font-size: 28pt;
}

.space {
  margin-left: 8px;
  font-weight: normal;
}







