

img {
  border: solid white;
  background-color:darkblue;
  border-radius: 4px;
  margin: 2;
  width: 130%;
  margin-left: 25%;
}

.box {
  border: solid darkblue;
  padding: 20;
  display: flex;
  flex-wrap: flex;
  background-color: darkslateblue;
  margin-bottom: 0;
}

.title {
  width: 50%;
}

.info-hold {
  border: solid white;
  background-color: darkblue;
  border-radius: 4px;
  margin: 2;
  padding: 10;
  width: 35%;
}

h1 {
  border: solid white;
  width: 30%;
  margin-left: 2%;
  text-align: center;
  border-radius: 4px;
  background-color: darkblue;
  font-weight: bold;
  font-size: 36pt;
}

.title-hold {
  display: flex;
}

.btn-title {
  margin-top: 13%;
  border-radius: 10px;
}

.btn-hold {
  margin-left: 29%;
}

.car-facts {
  border-bottom: solid white;
  margin-top: 12;
  padding-bottom: 10;
  font-weight: bold;
  font-size: 11pt;
}

.important {
  font-size: 16pt;
}

.pop {
  background-color: darkblue;
  font-size: 26pt;
  text-align: center;
  border: solid white;
  width: 95%;
  margin-left: 4%;
  padding: 10;
  border-radius: 4px;
  font-weight: bold;
}

.pop2 {
  margin-left: 2%;
  font-size: 22pt;
}

.input-hold {
  background-color: darkblue;
  border: solid white;
  padding: 10;
  border-radius: 4px;
}

.modal-body {
  background-color: darkslateblue;
}

.mod {
  border-radius: 10px;
}

.field {
  width: 75%;
  margin-left: 12%;
}

.modal-header {
  font-size: 28pt;
}

.single-hold {
  margin-top: 3%;
  margin-bottom: 3%;
}




