body {
  font-family: Montserrat;
  color: white;
}

.navbar {
  background-color: darkblue;
  font-family: Montserrat;
  color: white;
}

.nav-link {
  color: white;
}

.logo-but {
  border: solid;
  font-weight: bold;
  border-radius: 4px;
}

.logo-but:hover {
  color:yellow;
  text-decoration: none;
}

.nav-link:hover {
  color:yellow;
}

.logo {
  height: 4%;
  width: 4%;
  border-radius: 60px;
  border: solid;
}

.logo-bot {
  height: 10en;
  width: 25%;
  border-radius: 60px;
  border: solid white;
  margin-left: 35%;
  margin-bottom: 3%;
}

.head-img{
   height: 80%;
   width: 100%;
 }

 .btn {
   color: white;
   background-color: darkblue;
   border: solid white;
   font-family: Montserrat;
 }

 .other-btn:active {
   outline: none;
 }

 .other-btn {
  border: solid white;
  color: white;
  background-color: darkblue;
  font-family: Montserrat;
 }

 .other-btn:hover {
  border: solid yellow;
  color: yellow;
 }

 .btn:hover {
  color: yellow;
}

.btn:active {
  outline: none;
}
.dropdown-toggle {
  border: none;
}

.dropdown-menu {
  background-color: darkblue;
}

.dropdown-menu:hover {
  background-color: darkblue;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  color: yellow;
  background-color: darkblue;
}

.dropdown-menu:hover {
  color:yellow;
}

.sign-in-box {
  width: 8%;
  border-left: solid white;
  border-width: thin;
}

.sign-in {
  display: flex;
  flex-wrap: wrap;
  float: right;
  color: white;
  margin: .5em;
}

.sign-in:hover {
  color:yellow;
  text-decoration: none;
}

.sign-in-label{
  margin: .5em;
}

.copy {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

footer {
  color: white;
  background-color: darkblue;
  display: flex;
}

.container-bot {
  padding-top: 1%;
  padding-bottom: .5%;
  margin-left: 20%;
}

.contact {
  border-right: solid darkslateblue;
  padding-top: 1%;
  padding: .5%;
  font-size: 10pt;
}

.space {
  margin-left: 8px;
  font-weight: normal;
}


