.input-hold {
  display: flex;
}

.input-group {
  width: 40%;
}

.details {
  width: 70%;
}

.show {
  border: solid white;
  color: white;
  padding: 5;
  margin-left: 10%;
  background-color: darkblue;
  border-radius: 4px;
  font-size: 20pt;
}

.card-car {
  background-color: darkslateblue;
  border: solid darkblue thick;
  border-radius: 4px;
}

.display-4 {
  color: white;
  border: solid white;
  background-color: darkblue;
  margin-bottom: .25em;
  padding: 6;
  width: 50%;
  text-align: center;
  border-radius: 4px;
  font-size: 36pt;
  font-weight: bold;
}

.care-head {
  color: white;
  border: solid darkblue;
  background-color: darkblue;
  width: 35%;
  margin-left: 32%;
  font-size: 36pt;
  border-radius: 4px;
  font-weight: bold;
}

.img-fluid {
  border: solid white;
  border-radius: 4px;
  background-color: darkblue;
}

.card-extra {
  float: left;
  margin: 2em;
  background-color: darkslateblue;
  border: solid darkblue;
  border-radius: 4px;
  border-width: thick;
  height: 35vw;
  // margin-bottom: 1%;
}

.card-extra-img-top {
  height: 40%;
  width: 100%;
  padding: 11;
}

.card-title {
  font-weight: bold;
  font-size: 18pt;
  border: solid white;
  border-radius: 4px;
  background-color: darkblue;
  width: 99%;
  padding: 4;
  text-align: center;
}

.other-btn {
  border: solid white;
  color: white;
  background-color: darkblue;
  font-family: Montserrat;
 }

 .other-btn:hover {
   border-color: yellow;
   color: yellow;
 }

.btn-card {
  margin-left: 23%;
}

h6 {
  background-color: darkblue;
  width: 40%;
  font-size: 36pt;
  text-align: center;
  margin-left: 30%;
  font-weight: bold;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
transform: translateX(0);
}


